[submodule "Moovio"]
	path = Moovio
	url = https://github.com/Edehisaboi/ovelo-ui.git
	branch = main
[submodule "moovio-api"]
	path = moovio-api
	url = https://github.com/Edehisaboi/ovelo-api.git
	branch = main
