[submodule "ovelo-ui"]
	path = ovelo-ui
	url = https://github.com/Edehisaboi/ovelo-ui.git
	branch = main
[submodule "ovelo-api"]
	path = ovelo-api
	url = https://github.com/Edehisaboi/ovelo-api.git
	branch = main
